<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <title>tasnim</title>
    </head>
<body>
    <section class="login" id="login">
        <div class="titre noir">
            <h2 class="titre-text"><span>L</span>ogin</h2>
        </div>
        <div class="contactform">
            <h3>Envoyer un message</h3>
            <div class="inputboite">
                <input type="text" placeholder="Nom" id="input11" >
            </div>
            <div class="inputboite">
               <input type="password" placeholder="mot de passe" id="input22" >
            </div>
            <div class="inputboite">
                <button class="btn-reserve" id="submit-btn1" >Login</button>
            </div>
        </div>
     
    </section>
    <section class="contact" id="contact">
        <div class="titre noir">
            <h2 class="titre-text"><span>C</span>ontact</h2>
            <p>Contactez-nous à tous moments.</p>
        </div>
        <div class="contactform">
            <h3>Envoyer un message</h3>
            <div class="inputboite">
                <input type="text" placeholder="Nom" id="input1" >
            </div>
            <div class="inputboite">
               <input type="text" placeholder="email" id="input2" >
            </div>
            <div class="inputboite">
               <textarea placeholder="message" id="input3" ></textarea>
            </div>
            <div class="inputboite">
                <button class="btn-reserve" id="submit-btn" >Envoyer</button>
            </div>
        </div>
    </section>
</body>
</html>