<section>
    <!-- commmander -->
 
  <title>zeddini</title>


  <div class="container" id="com">
    <h2>Commander ici !</h2>
    <form action="traitement.php" method="post">
      <label for="nom">Nom :</label>
      <input type="text" id="nom" name="nom" required>

      <label for="email">Email :</label>
      <input type="email" id="email" name="email" required>

      <label for="produit">Lieu :</label>
      <select id="produit" name="produit">
        <option value="produit1">Manouba</option>
        <option value="produit2">Ariana</option>
        <option value="produit3">Sousse</option>
      </select>

      <label for="quantite">Quantité :</label>
      <input type="number" id="quantite" name="quantite" required>

      <input type="submit" value="Commander">
    </form>
  </div>

 </section>
 <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
    }
    
    .container {
      max-width: 600px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .container h2 {
      text-align: center;
    }
    
    .container label {
      display: block;
      margin-top: 10px;
    }
    
    .container input[type="text"], input[type="email"], input[type="number"] {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    /* commande */
    .container select {
      width: 100%;
      padding: 10px;
      margin-top: 5px;
      margin-bottom: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    
    .container input[type="submit"] {
      background-color: #4caf50;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    .container input[type="submit"]:hover {
      background-color: #45a049;
    }
    </style>