<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
        <title>Zeineb</title>
    </head>
<body>
<section class="menu" id="menu">
    <div class="titre">
        <h2 class="titre-texte"><span>G</span>aleries</h2>
        <p>Ceci sont nos galeries. </p>
    </div>
    
    <div class="body-of-page">
        <div class="collection">
            <div class="galerie-group">
            <div class="museum1">
                <div class="card">
                    <p class="p-collection">T.G.M</p>
                    <img src="assets/tgm.png">
                    <button class="butt-explorer">Explorer</button>
                </div>
            </div>
            <div class="museum2">
                <div class="card">
                    <p class="p-collection">Saladin</p>
                    <img src="assets/saladin.png">
                    <button class="butt-explorer">Explorer</button>
                </div>
            </div>
            <div class="museum3">
                <div class="card">
                    <p class="p-collection">ARCHIVART</p>
                    <img src="assets/archivare.png">
                    <button class="butt-explorer">Explorer</button>
                </div>
            </div>
        </div>
    </div>
</div>

 </div>
 <div class="titre">
    <a href="#" class="btn1">Voir Plus</a>
 </div>
</section>
</body>
</html>